.cover__link {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
}
